.icon
{
   display: flex;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
/*	background-color: #18191f;*/
	margin: 0 auto;
	transition: box-shadow ease 360ms;
	flex: 1;
   position: absolute;
   top: 20vh;
/*   border: 2px solid #aa0b43;*/
}

.texto
{
    color: white;
    flex: 1;
    min-width: 150px;
    position: relative;
    top: 0;
    text-align: center;
}

.txt1 {
    color: white;
    flex: 1;
    min-width: 150px;
    position: relative;
    top: 35vh;
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins';
/*    text-shadow: 1px 5px rgba(0, 0, 0, 0.521);*/
}

.txt_pr2
{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Poppins';
/*    text-shadow: 1px 5px rgba(0, 0, 0, 0.521);*/
}

.principal
{
  display: inline;
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 38em;
  background: #F00055;
  width: 29em;
  height: max-content;
  margin: 0 auto;
  border: 3px solid #F00055;
  border-radius: 10px;
}

.principal h4{
    top: 30em;
    display: inline;
    width: 14em;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins';
  }

.principal #next_h2
{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins';
/*    text-shadow: 1px 5px rgba(0, 0, 0, 0.521);*/
}
